body {
  background-color: lightgray;
  margin-left: 15px;
  font-family: "Times New Roman";
  font-size: 24px;
}

div {
  background-color: #bbbb32;
}

div.btn {
  background-color: #ab135a;
  text-align: center;
  height: 26px;
  width: 100px;
  font-size: 28px;
  padding: 10px;
  margin: 5px;
}

iframe {
  border: 1px solid black;
  width: 100%;
}

.output {
  background: #eee;
}
